<app-nav-bar></app-nav-bar>
<!-- Page Content -->
  <div class="container">
    <br>
    <br>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Civilizations</h1>
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div  *ngFor = "let civilizationObject of civilizations" class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../img/aoe.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">{{civilizationObject.name}}</h4>
            <p class="card-text">{{civilizationObject.army_type}}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">{{civilizationObject.team_bonus}}!</a>
          </div>
        </div>
    </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<app-footer></app-footer>